@import '../../styles/base';

.loader{
    color:  #f7931a;
    position: fixed;
    animation: coinmove 2s infinite;
}

@keyframes coinmove {
    0%   {top: 0rem;}
    25%  {top: 2rem;}
    75%  {top: 0.5rem;}
    100% {top: 1rem;}
}



  @keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
  }