@import '../../styles/base';

.favoriteCoinsSection{
    table{
        margin: 0rem auto 2rem auto;
        text-align: center;
        border-collapse: collapse;
        width: 60rem;
        thead{
            th{
                padding: 1rem 0rem;
            }
            .coinFavorite{
                width: 5%;
            }
            .coinRank{
                width: 5%;
            }
            .coinName{
                width: 20%;
            }
            .coinPrice{
                width: 10%;
            }
            .coin24{
                width: 10%;
            }
            .coin7{
                width: 10%;
            }
            .coinMarketcap{
                width: 15%;
            }
            .coinVolume{
                width: 15%;
            }
        }
    }
}