@import '../../styles/base';

.coin{
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(248, 250, 253, 10);
    td{
        border: none;
        padding: 1.5rem 0rem;
        font-size: 1.2rem;
        font-weight: 500;
        
        .emptyStar, .fullStar{
            color: #ffd27d;
        }
        .emptyStar, .fullStar:active{
            transform: scale(.95);
        }
        .coinSymbol{
            opacity: 0.6;
            padding-left: 0.2rem;
        }
        .arrow{
            padding-right: 0.2rem;
        }
        a{
            text-decoration: none; 
            color: #000000;
        }

    }
    .coinName{
        text-align: left;
    }
    .profit{
        color: green;
    }
    .loss{
        color: red;
    }
    .coinImage{
        width: 2rem;   
    }
}
tr:hover{
    background-color: #f8fafd;
}