@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #EAECEF;
}
body{
    background-color: #181A20;
}

// Variables
$primario: #181A20;
$secundario: #0B0E11;
$terciario : #FCD535;
$hover: #474D57;
$textoPrimario: #EAECEF;;

// Mixins
@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin button {
    background: $terciario;
    border-radius: 0.5rem;
    padding: 0.8rem 0rem;
    font-size: 1rem;
    color:#0B0E11;
    width: 10rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 800;
}