.searchBar{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    width: 20rem;
    margin: 2rem auto;
    height: 2.5rem;
    font-size: 1.25rem;
}