@import '../../styles/base';

.coinsSection{
    table{
        margin: 0rem auto;
        text-align: center;
        // border-spacing: 1rem;
        // border: 1px solid black;
        border-collapse: collapse;
        thead{
            th{
                padding: 1rem;
            }
        }
        tbody{

        }
    }
}
