@import '../../styles/base';

.coinsSection{
    table{
        margin: 0rem auto;
        text-align: center;
        border-collapse: collapse;
        border: none;
        thead{
            th{
                padding: 1rem;
            }
        }
    }
}
