.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #0B0E11;
    @media(max-width: 576px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_logo{
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 800;
        @media(max-width: 576px){
            margin-bottom: 2.5rem;
        }
    }
    .nav_a{
        .nav_a_button{
            color: #181A20;
            font-size: 1rem;
            font-weight: 700;
            background-color: #FCD535;
            padding: 0.6rem 1.8rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }
        .nav_a_button:active{
            transform: scale(0.96);
        }
    }
}