footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #0B0E11;
    .footer_p{
        color: #ffffff;
        font-weight: 600;
        .footer_p_span{
            color: #b6332b;
        }
        .footer_p_a{
            color: #ffffff;
            font-weight: 700;
        }
    }
}