.coinDetail{
    display: flex;
    flex-direction: column;
    background-color: #181A20;
    text-align: center;
    padding: 5rem 0rem;
    .coinTitle{
        margin-bottom: 5rem;
        .coinTitle_h1{
            font-size: 3rem;
            margin: 0rem 1rem 0.5rem 1rem;
            .coinTitle_h1_span{
                font-weight: 800;
                opacity: 0.6;
            }
        }
        .coinTitle_p{
            font-size: 1.5rem;
        }
    }
    .coinFirstInformation{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5rem;
        @media (max-width: 992px){
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .coinImage{
            width: 10rem;
            @media (max-width: 992px){
                margin-bottom: 5rem;
            }
        }
        .coinInformation{ 
            @media (max-width: 576px){
                width: 90%;
            }
            .coinInformation_div{
                display: flex;
                flex-direction: column;
                padding: 1rem 1rem 0rem 1rem;
                background-color: #0B0E11;
                border-radius: 0.5rem;
                text-align: left;
                width: 35rem;
                @media (max-width: 768px){
                    width: 30rem;
                }
                @media (max-width: 576px){
                    text-align: center;
                    width: 90%;
                    margin: auto;
                }
                .coinInformation_div_p{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    @media (max-width: 576px){
                        display: flex;
                        flex-direction: column;
                    }
                    .coinInformation_div_p_span{
                        margin-left: 1rem;
                        @media (max-width: 576px){
                            margin-left: 0rem;
                        }
                    }
                }
                .coinPriceChange{
                    .coinPriceChange_p{
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }
                    .coinPriceChange_div{
                        display: flex;
                        @media (max-width: 768px){
                            flex-direction: column;
                        }
                        .coinPriceChange_div_p{
                            width: 50%;
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                            @media (max-width: 576px){
                                display: flex;
                                flex-direction: column;
                                font-size: 1.5rem;
                                margin: 0rem auto 1rem auto;
                            }
                            .coinPriceChange_div_p_span{
                                margin-left: 1rem;
                                @media (max-width: 576px){
                                    margin-left: 0rem;
                                }
                            }
                        }
                        .profit{
                            color: #28a745;
                        }
                        .loss{
                            color: #dc3545;
                        }
                    }
                }
                .coinVotes{
                    display: flex;
                    @media (max-width: 576px){
                        justify-content: center;
                    }
                    .coinVotes_p{
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                        .coinVotes_p_span{
                            padding-right: 0.5rem;
                            margin: 0rem;
                        }
                    }
                    .upVotes{
                        margin-right: 2rem;
                        color: #28a745;
                    }
                    .downVotes{
                        color: #dc3545;
                    }
                }
            }
        }
        .coinButton{
            margin: 1rem auto 0rem auto;
            .coinButton_button_add{
                color: #181A20;
                font-size: 1rem;
                font-weight: 700;
                background-color: #FCD535;
                color: #0B0E11;
                padding: 0.6rem 0rem;
                width: 15rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
            .coinButton_button:active{
                transform: scale(0.96);
            }
            .coinButton_button_delete{
                @extend .coinButton_button_add;
                background-color: #dc3545;
                color: #EAECEF;
            }
        }
    }
}